html {
    background-color: #191919;
    color: #efefef;
}

body {
    /*font-family: Inconsolata, monospace;*/
	font-weight: 400;
	max-width: 700px;
	margin: auto;
	padding-top: 3%;
	padding-left: 5%;
	padding-right: 5%;
}
.sans {
    font-family: Inter, Arial, sans-serif;
}
.mono {
    font-family: "JetBrains Mono", monospace;
}

h1 {
	font-size: 3rem;
	font-weight: 500;
	margin-bottom: 0;
	line-height: 0;
}

h2 {
	font-size: 2rem;
	font-weight: 800;
	margin-bottom: 0;
    color: #198aa5;
    /*color: #dc6064;*/
}
h2 span {
    background-color: white;
}

h3 {
	font-size: 1.2rem;
	font-weight: 500;
}

h1, h2, h3 {
	/*font-family: Inter Tight, Inter, Arial, sans-serif;*/
}
.pilcrow::before {
	color: #b22222fa;
	font-weight: 500;
	content: "¶ ";
}
.pilcrow {
	font-weight: 500;
}

p {
	line-height: 1.618;
	font-size: 1rem;
}
.caption {
	font-size: 1rem;
}
.rule::before {
	color: #b22222fa;
	font-weight: 400;
	content: "¶ ";
}
.rule {
	color: #b22222fa;
	font-weight: 400;
}
.nav {
	/*color: #b22222fa;*/
    color: #d84848;
    font-weight: 400;
}

div {
}
.navbar {
	line-height: 0;
	margin-top: 0;
}
.navbar p {
    /*color: #d84848;*/
    color: #198aa5;
    font-size: 1.2rem;
}

img {
	display: block;
}
.responsive-image {
	width: 30%;
	height: auto;
}

span {
}
.small-heading {
	font-size: 1rem;
}
.small-paragraph {
    font-size: 0.9rem;
}

/*.container {*/
/*}*/

.textbox {
    display: inline-block;
    margin-left: 1rem;
}

