@font-face {
    font-family: 'Teachers';
    src:url('../assets/fonts/teachers-italic.woff2') format('woff2');
    font-weight: 400 800;
    font-display: swap;
    font-style: italic;
}

@font-face {
    font-family: 'Teachers';
    src:url('../assets/fonts/teachers.woff2') format('woff2');
    font-weight: 400 800;
    font-display: swap;
    font-style: normal;
}

:root {
    font-family: 'Teachers', sans-serif;
    font-feature-settings: 'liga' 1, 'calt' 1; /* fix for Chrome */
    --background-color: #fefefe;
    --text-color: #010101;
    --link-color: #0000ee;
    /*--background-color: #202020;*/
    /*--text-color: #f5f5f5;*/
    /*--link-color: #4fc3f7;*/
}
@supports (font-variation-settings: normal) {
    :root { font-family: 'Teachers', InterVariable, sans-serif; }
}

@media (prefers-color-scheme: dark) {
    :root {
        --background-color: #202020;
        --text-color: #f5f5f5;
        --link-color: #4fc3f7;
    }
}

html {
    background-color: var(--background-color);
    color: var(--text-color);
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
    height: 100%;
    line-height: 1.618;
}

body {
    height: 100%;
	font-weight: 400;
	max-width:700px;
    margin: auto;
	padding-left: 5%;
	padding-right: 5%;
    padding-bottom: 50px;
    -webkit-text-size-adjust: none;
    font-family: Inter, sans-serif;
}
.sans-serif {
    font-family: 'Teachers', Inter, sans-serif;
    font-size: 1.3rem;
}
.mono {
    font-family: "JetBrains Mono", monospace;
}
.serif {
    font-family: "Newsreader", "EB Garamond", serif;
    font-size: 1.3rem;
}

p {
}

.hanging {
    text-indent: 1.5em hanging;
}

h1, h2, h3, h4 {
    font-weight: 500;
}

h1 {
	font-size: 3rem;
}

h2 {
	font-size: 2.2rem;
}

h3 {
	font-size: 1.5rem;
}

h4 {
    font-size: 1.2rem;
}

img {
	display: block;
}
.responsive-image {
	width: 30%;
	height: auto;
}

span {
}
.small-heading {
	font-size: 1.2rem;
}
.smallcaps {
    font-size: 1.1rem;
}

div {}
.columns {
    display: flex;
    gap: 20px;
}
.indent {
    margin-left: 1rem;
}

/*.paragraph-container p {*/
/*    flex: 1;            !* Forces both paragraphs to take up equal width *!*/
/*    margin: 0;          !* Removes default browser margins for clean layout *!*/
/*    padding: 15px;      !* Adds inner spacing for better readability *!*/
/*}*/

.textbox {
    display: inline-block;
    margin-left: 1rem;
}

a {
    color: var(--text-color);
    transition: opacity 300ms ease-in-out;
}

a:hover {
    opacity: 0.6;
}

table {
    margin-left: 2rem;
    line-height: 1.618;
    text-align: left;
}

thead, tfoot {
    font-weight: 500;
}

.align-right {
    text-align: right;
    /*margin-right: 1em;*/
}

.align-left {
    text-align: left;
    /*margin-left: 1em;*/
}

blockquote {
}

